# IDEA and gradle
.gradle/
.idea/
build/
/out/
*/out/

# temporary
/tmp

# java/jvm output
*.class
!/gradle/wrapper/gradle-wrapper.jar
*.jar
hs_err_pid*

# Don't include the generated TS files
/client/api_types/jtsgen/
